body{
    weidth:100%;
    background-color:aliceblue;

}

#head{
    background-image: url(../backgrounds/hero.jpg);
  background-size: cover;
    height: 100%;

}
#llogo li{
    list-style: none;
    text-align: right;
    display: inline-block;
    float: right;
    padding: 3%;
    padding-top: 6%;
    padding-right: 6%;
    font-size: 25px;
    color: white;

}
#ylogo{
    float: left;
    padding: 4%;
}
#comfort{
    padding: 20%;
    padding-bottom: 60px;
    color: white;
}
#htext{
    text-align: center;
    font-size: 38px;

}
#ohtext{
    text-align: center;
}
#mouse{
    padding-top: 220px;
    padding-left: 700px;
}
.select{
    height: 110px;
       padding-top: 3%;
    padding-left: 10%;
    background-color: #9a8b6a;
}
.button-group .prod{
   float:right;
    background-color: brown;
}
.products{
    padding: 5%;
}
.men{
    padding: 5%;
    padding-left:10%;
}
.women{
    padding: 5%;
      padding-left:10%;
}
#about{
      background-image: url(../backgrounds/about.jpg);
    background-size: cover;
    height: 60%;
}
.sale{
    background-color: dimgrey;
    height: 10%;
}
.sale .tbird{
 float: left;
    padding-left: 100px;
    padding-top: 20px;
}
.sale .t-text{
    float: right;
    padding-left: 150px;
    font-size: 20px;


}
.footer{
    background-color: black;
    height: 30%;
    color: white;
    text-align: center;
}
.yolomy-we{
     padding-top: 4%;
}
.social-icons{
    padding-top: 4%;
}
.credits{
   padding-top: 6%;
    font-size: 20px;
}
.credits-i{
    font-size: 15px;
}

.backpack {
    border-style: none;
    height: 280px;
    padding-left: 100px;
background-color: white;
    width: 32%;
       padding-top: 10px;

}

.tshirt {
    border-style: none;
    height: 280px;
    padding-left: 100px;
    padding-top: 10px;
      width: 30%;
    background-color: white;
}

.pants {
    border-style: none;
    height: 280px;
    padding-left: 100px;
      margin-left: 45px;
      width: 30%;
       padding-top: 10px;
    background-color: white;

}

.giacket {
     border-style: none;
    height: 280px;
    padding-left: 100px;
      width: 30%;
       padding-top: 10px;
    background-color: white;
}

.t-ladies {
   border-style: none;
    height: 280px;
    padding-left: 100px;
background-color: white;
    width: 32%;
       padding-top: 10px;
}

.shoes {
    border-style: none;
    height: 280px;
    padding-left: 100px;
      margin-left: 45px;
      width: 30%;
    background-color: white;
       padding-top: 10px;
}

.wh4 {
    float: left;
}

.whr {
    float: right;
    width: 93%;
}

.mh4 {
    float: left;
    margin-left: 100px
}

.mhr {
    width: 87%;
    float: right;
}
